@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    border-radius: 50%;
    box-shadow: box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
nav{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
a{
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
.anjay{
    background-color: #04AA6D;
}
label{
    position: relative;
}
.form-group{
    display: flex;
    margin: 0 auto;
}
.kecaw{
    text-align: center;
    background-color: goldenrod;
}
form{
    display: inline-block;
}
.index{
    background-color: goldenrod;
}
.ttg{
    background-color: goldenrod;
}